<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allow ACTION_VIEW intent resolution (Android 11+ package visibility). -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".ui.CreateTicketActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.TicketListActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.TicketDetailActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.FeedbackActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.FeedbackListActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.FeedbackDetailActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.AttachmentViewerActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.NotificationsActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />
    </application>

</manifest>
