<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.CreateTicketActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.TicketListActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.TicketDetailActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />

        <activity
            android:name=".ui.FeedbackActivity"
            android:theme="@style/FeedbackSDK.Theme"
            android:exported="false" />
    </application>

</manifest>
